<body>
  <div>
    <h2>Curiosidades Parte 2</h2>
  </div>
  <div class="capybara-text">
    <p>
      Además, su apariencia inofensiva y casi cómica, junto con su tendencia a
      interactuar de manera amigable con otros animales, ha ayudado a
      popularizarlos. A medida que más personas compartían su fascinación por
      estos animales en plataformas como Instagram y YouTube, los capybaras se
      convirtieron en una especie adorada y fácilmente identificable en la
      cultura de internet. Su creciente popularidad incluso ha llevado a que en
      algunos lugares se consideren mascotas, a pesar de ser animales salvajes,
      lo que ha aumentado aún más su visibilidad y cariño entre los fanáticos de
      la fauna exótica.
    </p>
  </div>
</body>
