<main>
  <div>
    <button
      mat-raised-button
      routerLink="/student-add/planes-child"
      style="font-size: 12px; margin: 12px"
    >
      Plane Child
    </button>
  </div>
  <form class="form-group form-style">
    <div class="form-group row">
      <label class="control-label col-md-12">Name: </label>
      <div class="col-md-4">
        <input
          class="form-control col-md-12"
          [(ngModel)]="student.name"
          name="name"
          placeholder="Name"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Email: </label>
      <div class="col-md-4">
        <input
          class="form-control"
          [(ngModel)]="student.email"
          name="email"
          placeholder="Email"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Password: </label>
      <div class="col-md-4">
        <input
          class="form-control"
          [(ngModel)]="student.password"
          name="password"
          placeholder="Password"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="control-label col-md-12">Nationality: </label>
      <div class="col-md-4">
        <input
          class="form-control"
          [(ngModel)]="student.nationalityId"
          name="nationality"
          placeholder="Nationality"
        />
      </div>
    </div>

    <div class="form-group">
      <button (click)="addStudent()" class="btn btn-default">Save</button>

      <button (click)="cancel()" class="btn">Cancel</button>
    </div>
  </form>
</main>
<router-outlet />
